// Bootstrap or not, the navbar looks like shit on small screens. As this is likely to be used 99.9% by tellers on large screens
// I'm not spending any more time getting the small break to look pretty

////////////////////////////
// Color
body
  background-color white
.majorSection
  background-color #D1E6F4
.navbar
  background-color white //DEEE76 //13987e
.navbar-inverse .navbar-nav li a
  color #BF001A //white
.navbar-inverse .navbar-nav li a:hover
  color white
  background-color #BF001A
.navbar-inverse .navbar-nav li a:focus
  color white
  text-shadow: // gives a nice outline TODO: only works until focus lost, also need to check in IE
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;
legend
  background-color white
temp
  background-color white
  margin 20px;
.fontSoft
  color darkgray
tr th
  background-color #D1E6F4 !important
  //color #D1E6F4
h1
  color #D1E6F4
  text-shadow: // gives a nice outline TODO: only works until focus lost, also need to check in IE
    -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 0 #000000;



////////////////////////////
// Padding & Sizing
body
  padding-top 69px  //61
  padding-bottom: 70px
.majorSection
  border-radius 5px
  padding 10px
  margin-bottom 15px
  margin-top -25px
legend
  margin-bottom -1px
  margin-top 5px
  padding  2px
  padding-left 5px
  border-radius 3px
pad10
  padding 10px
/*padLeft20*/
  /*padding-left 50px*/
  /*margin-left 50px*/
input
  border-radius 5px
  //border-top-radius 10px

////////////////////////////
// Font
.navbar-inverse .navbar-nav li a:focus
  font-size  150%
.navbar-inverse .navbar-nav li a
  font-size  120%

////////////////////////////
// Positioning
.navbar
  margin-left: -100px

////////////////////////////
// Effects
.item-fade
  vertical-align:top;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
.hover:hover
  opacity:0.2;



.navbar-header a.navbar-brand
    margin-top -10px //15px
    margin-bottom -20px

.shiftRight50
  margin-left: 50px;

.shiftDown5
  margin-top: 5px;

ul.nav.navbar-nav
  //margin-left 150px
  margin-right: -300px;

#main-content
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/


.footer
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;


.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

// TODO why was this not applying a margin to the bottom??
//.bottom-padding-med
//  padding-bottom 10px
//  margin-bottom  10px

.toast-top-right
  top 70px

.toast-success
  background-color #EB7260//7fff00 //#13987e

.navbar-brand {
  float: left;
  height: 30px; //50px;
  padding: 15px 15px;
  font-size: 24px;
  line-height: 20px;
  //color: white !important;
  //top: 10px !important;
}

/*shiftRight5*/
  /*margin-left 25px !important;*/
  /*padding-left 25px!important;*/
  /*margin-right 25px !important;*/
  /*padding-right 25px !important;*/

/*td*/
  /*background-color red;*/

//.jumbotron
//  background-color #EB7260
